<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Pet Finder</title>
  </head>
  <body>
    <h1>Welcome to Pet Finder</h1>
    <p>Find your lost pets or help others find theirs.</p>
    <button onclick="location.href='/docs'" type="button">Documentation</button>
    <button onclick="location.href='/your-other-link'" type="button">
      Your Other Link
    </button>
  </body>
</html>
